* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

$main_font_color: #1f2937;
$second_font_color: #4b5563;
$baby_blue_color: #5f6fff;

body {
  margin-top: 70px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #adadad;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 5;
  background: white;
  padding: 0.8rem 2rem;
  .nav_logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
    h1 {
      color: #000b6d;
    }
  }
  .nav_links {
    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
      a {
        text-transform: uppercase;
        font-weight: 500;
        color: $main_font_color;
        transition: all 0.3s ease;
        &.active {
          color: #000b6d;
        }
        &:hover {
          color: #000b6d;
        }
      }
    }
  }
  .auth_btn {
    a {
      font-size: 18px;
      padding: 0.6rem 1rem;
      border-radius: 45px;
      background-color: #5f6fff;
      color: white;
    }
  }
}

footer {
  background-color: white;
  padding: 0.5rem 2rem;
  .footer_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #bdbdbd;
    .footer_desc {
      width: 40%;
      .footer_logo {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        h1 {
          color: #000b6d;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      p {
        font-size: 18px;
        color: $second_font_color;
        margin-top: 2rem;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .footer_links,
    .footer_contact {
      align-self: baseline;
      color: $second_font_color;
      .links {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 2rem;
        a {
          color: $second_font_color;
          font-size: 18px;
        }
      }
    }
  }
  .copy_write {
    p {
      text-align: center;
      padding: 1.5rem;
      font-size: 18px;
      color: $second_font_color;
      font-weight: 400;
    }
  }
}

.section_title {
  h2 {
    font-size: 40px;
    font-weight: 500;
    color: $main_font_color;
    margin-bottom: 1rem;
  }
  p {
    color: $second_font_color;
    font-size: 18px;
  }
}

.Home {
  width: 100%;
  height: 100%;
  .Hero {
    height: 80vh;
    background-color: $baby_blue_color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    .hero_desc {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
      h1 {
        font-size: 63px;
        font-weight: 600;
        color: white;
        line-height: 80px;
      }
      p {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
        font-size: 18px;
        img {
          object-fit: contain;
          width: 130px;
        }
      }
    }
    .hero_img {
      width: 50%;
      align-self: end;
      position: relative;
      img {
        object-fit: contain;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .Specility {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
    margin-top: 3.5rem;

    .speciality-content {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 2rem;
      img {
        width: 105px;
        height: 105px;
        object-fit: contain;
      }
      p {
        font-size: 18px;
        color: $second_font_color;
      }
    }
  }

  .Doctors {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
    margin-top: 3.5rem;
    .doctors_content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 0 3rem;
      .doctor {
        width: calc(100% / 5 - 1.5rem);
        height: 375px;
        border: 1px solid #c9d8ff;
        border-radius: 8px;
        margin-top: 2rem;
        cursor: pointer;
        .doc_img {
          background-color: #eaefff;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          height: 75%;
          display: flex;
          align-items: end;
          justify-content: center;
          img {
            object-fit: contain;
            width: 190px;
          }
        }
        .doc_details {
          display: flex;
          flex-direction: column;
          gap: 7px;
          align-items: start;
          padding: 0.3rem 1rem;
          .status {
            font-size: 14px;
            color: #0fbf00;
            display: flex;
            align-items: center;
            gap: 0.3rem;
            .dot-green {
              display: inline-block;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: #0fbf00;
            }
          }
          .doc_name {
            color: $main_font_color;
            font-size: 22px;
            font-weight: 500;
          }
          .specialize {
            color: $second_font_color;
            font-weight: 400;
          }
        }
      }
    }
    .more-doctors-btn {
      background-color: #eaefff;
      border-radius: 50px;
      padding: 0.8rem 1.2rem;
      font-size: 18px;
      font-weight: 500;
      color: $second_font_color;
      width: 150px;
    }
  }

  .BookNow {
    width: calc(100% - 7rem);
    height: 43vh;
    background-color: $baby_blue_color;
    margin: 3.5rem auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    z-index: 1;
    position: relative;
    .details {
      color: white;
      font-size: 35px;
      font-weight: 700;
      line-height: 80px;
    }
    .book_image {
      z-index: 2;
      display: flex;
      position: absolute;
      right: 3rem;
      bottom: 0;
      img {
        object-fit: contain;
        width: 410px;
      }
    }
  }
}

.RegisterPage,
.LoginPage {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 2rem 0;
  form {
    border: 1px solid #d4d4d4;
    box-shadow: 0px 20px 50px 0px #5f6fff1a;
    border-radius: 16px;
    padding: 1.8rem 1.5rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      color: $second_font_color;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }
    p {
      color: $second_font_color;
      text-transform: capitalize;
    }
    .inputs-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 16px;
      label {
        color: $second_font_color;
      }
      input {
        padding: 0.7rem 0.4rem;
        border: 1px solid #dadada;
        border-radius: 3px;
        outline: none;
        font-size: 16px;
      }
      .gender-container {
        display: flex;
        align-items: center;
        gap: 4rem;
        .checkbox-container {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-transform: capitalize;
        }
      }
    }
    .submit_form_btn {
      height: 45px;
      background-color: $baby_blue_color;
      border-radius: 6px;
      color: white;
      font-size: 16px;
    }
    .having_account {
      color: $second_font_color;
      a {
        color: $baby_blue_color;
        text-decoration: underline;
      }
    }
  }
}
